<a href="https://colab.research.google.com/github/Lucas-BB4842/ENG_20242/blob/main/Atividade1/atv_conjunto_set_24102024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Crie uma lista contendo cinco números inteiros de sua escolha. Em seguida, percorra essa lista e imprima o valor de cada elemento multiplicado por 2.
#   O resultado deve mostrar o novo valor de cada elemento, um por vez.
nums = [1, 2, 3, 4, 5]
for n in nums:
  print(f'{n} x 2 = {n*2}')

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10

In [ ]:
#2. Dada a lista ["maçã", "banana", "laranja", "uva"], remova o item "banana" da lista e adicione a fruta "melancia" no lugar.
#   Depois, mostre a nova lista atualizada com as alterações feitas.
frutas = ["maçã", "banana", "laranja", "uva"]
frutas.remove('banana')
frutas.append('melancia')
print(frutas)

['maçã', 'laranja', 'uva', 'melancia']

In [ ]:
#3. Escreva um programa que receba uma lista de números inteiros e exiba qual é o maior número e qual é o menor número presente na lista.
#   Certifique-se de mostrar ambos os valores ao final.
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
print(f'O maior é {max(nums)} e o menor é {min(nums)}')

O maior é 15 e o menor é 1

In [ ]:
#4. Crie uma função que receba uma lista contendo várias palavras (strings). A função deve devolver uma nova lista que contenha
#   a quantidade de letras de cada palavra da lista original. Exiba essa nova lista com o número de letras correspondente a cada palavra.
palavras = ['Engenharia', 'Programação', 'Python', 'UVV', 'Lucas']
tamanho = []
for p in palavras:
  tamanho.append(len(p))

for i in range(len(tamanho)):
  print(f'A palavra "{palavras[i]}" tem {tamanho[i]} letras.')

A palavra "Engenharia" tem 10 letras.
A palavra "Programação" tem 11 letras.
A palavra "Python" tem 6 letras.
A palavra "UVV" tem 3 letras.
A palavra "Lucas" tem 5 letras.

In [ ]:
#5. Dada uma lista de números inteiros que você vai definir, ordene essa lista em ordem crescente e depois exiba o resultado da lista ordenada.

n = [1, 8, 45, 3, 9, -2 ,0, -56, 2, 20]
n_nv = sorted(n)
print(n_nv)

[-56, -2, 0, 1, 2, 3, 8, 9, 20, 45]

In [ ]:
# 6. Crie uma tupla que contenha os números de 1 a 5. Tente alterar o valor do segundo elemento dessa tupla e observe o que acontece.
# No final, explique por que você conseguiu ou não modificar o valor.

ns = (1, 2, 3, 4, 5)
ns[1] = 3

# O elemtento não mudou porque tuplas são imutaveis.

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 7. Escreva um programa que receba uma tupla contendo diversos números inteiros.
# O programa deve calcular e exibir a soma de todos os números presentes na tupla.
abc = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(f'A soma é {sum(abc)}')

A soma é 45

In [ ]:
# 8. Dada uma tupla que contém cinco números, crie uma função que retorne o primeiro e o último número dessa tupla.
# O programa deve imprimir ambos os valores corretamente.

minha_tupla = (1, 2, 3, 4, 5)
print(f'O primeiro elemento é {minha_tupla[0]} e o último é {minha_tupla[-1]}')

O primeiro elemento é 1 e o último é 5

In [ ]:
# 9. Converta a lista ["a", "b", "c", "d"] em uma tupla e, em seguida, exiba o tipo do novo objeto que foi criado.
# O programa deve deixar claro que o tipo mudou de lista para tupla.

letras = ["a", "b", "c", "d"]

letras = tuple(letras)

print(letras)
print(type(letras))

('a', 'b', 'c', 'd')
<class 'tuple'>

In [ ]:
# 10. Crie uma tupla com três números inteiros e uma string. Depois, verifique se o número 3 está presente nessa tupla e
# mostre uma mensagem dizendo se o número foi encontrado ou não.
tuplosa = (8, 3, 4, 'Lucas')

if 3 in tuplosa:
  print("O número 3 está presente.")

O número 3 está presente.

In [ ]:
# 11. Crie dois sets: set1 = {1, 2, 3, 4} e set2 = {3, 4, 5, 6}. Exiba a união dos dois sets (todos os elementos sem repetição),
# a interseção (elementos que aparecem nos dois sets) e a diferença (elementos presentes no primeiro set, mas não no segundo).
# Mostre os resultados de cada operação.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(f'União:              {set1.union(set2)}')
print(f'Interseção:         {set1.intersection(set2)}')
print(f'Diferença:          {set1.difference(set2)}')

União:              {1, 2, 3, 4, 5, 6}
Interseção:         {3, 4}
Diferença:          {1, 2}

In [ ]:
# 12. Dada a lista [1, 2, 2, 3, 4, 4, 5], remova os elementos duplicados transformando a lista em um set.
# Ao final, exiba o set resultante, que deve conter apenas valores únicos.
little_lista = [1, 2, 2, 3, 4, 4, 5]
little_set = set(little_lista)
print(f'{little_set}')

{1, 2, 3, 4, 5}

In [ ]:
# 13. Crie um set contendo os valores {5, 10, 15, 20}. Adicione o número 25 a esse set e depois remova o valor 15.
# Mostre o set após cada alteração.
valores = {5, 10, 15, 20}
print(valores, '\n')
valores.add(25)
print(f'Após adicionar o 25\n{valores}\n')
valores.remove(15)
print(f'Após remover o 15\n{valores}')

{10, 20, 5, 15}

Após adicionar o 25
{5, 10, 15, 20, 25}

Após remover o 15
{5, 10, 20, 25}

In [ ]:
# 14. Verifique se o número 7 está presente no set {1, 2, 3, 4, 5}. O programa deve exibir uma
# mensagem informando se o número foi encontrado ou não no set.
baiano = {1, 2, 3, 4, 5}
if 7 in baiano:
  print("O 7 está presente")

else:
  print("O 7 não está presente")

O 7 não está presente

In [ ]:
#15. Crie um set vazio e adicione vários valores a ele usando um laço de repetição (por exemplo, um for ou while).
# No final, mostre todos os valores armazenados no set.
numsei = set()
i = int(input('Digite um valor para adicionar na lista(0 para sair): '))
while i != 0:
  numsei.add(i)
  i = int(input('Digite um valor para adicionar na lista(0 para sair): '))

print(f'O conjunto final foi: {numsei}')

Digite um valor para adicionar na lista(0 para sair): 4
Digite um valor para adicionar na lista(0 para sair): 5
Digite um valor para adicionar na lista(0 para sair): 21
Digite um valor para adicionar na lista(0 para sair): 9
Digite um valor para adicionar na lista(0 para sair): 6
Digite um valor para adicionar na lista(0 para sair): -9
Digite um valor para adicionar na lista(0 para sair): 3
Digite um valor para adicionar na lista(0 para sair): 0
O conjunto final foi: {3, 4, 5, 6, 9, 21, -9}

In [ ]:
# 16. Crie um dicionário com os pares chave-valor 'nome': 'Ana', 'idade': 22, 'curso': 'Engenharia'.
# Adicione uma nova chave 'universidade': 'USP' ao dicionário. Em seguida, exiba o dicionário completo com todas as informações.
cadastro ={
    'nome' : 'Ana',
    'idade': 22,
    'curso': 'Engenharia'
}

cadastro['universidade'] = 'USP'

for k, v in cadastro.items():
  print(f'{k} : {v}')

nome : Ana
idade : 22
curso : Engenharia
universidade : USP

In [ ]:
# 17. Escreva um programa que percorra um dicionário com várias chaves e valores. Para cada par, imprima a chave e o valor no
# formato: Chave: X, Valor: Y. O dicionário pode conter qualquer informação que você preferir.
cadastro ={
    'nome' : 'Ana',
    'idade': 22,
    'curso': 'Engenharia'
}

cadastro['universidade'] = 'USP'

for k, v in cadastro.items():
  print(f'{k} : {v}')

In [ ]:
# 18. Crie um dicionário que relacione nomes de alunos às suas notas. Depois, crie uma função que calcule e
# exiba a média das notas desses alunos com base nas informações do dicionário.
turma = {
    'Senhor':[9, 5, 7, 2, 10],
    'Flávin':[9, 8, 4, 5, 8],
    'Lucas':[0, 2, 3, 4 ,5]
    }

for a, n in turma.items():
  print(f'Aluno {a} obteve média {sum(n)/len(n)}')

Aluno Senhor obteve média 6.6
Aluno Flávin obteve média 6.8
Aluno Lucas obteve média 2.8

In [ ]:
# 19. Escreva um programa que permita ao usuário buscar o valor de uma chave específica em um dicionário.
# Caso a chave não exista, o programa deve exibir uma mensagem dizendo que a chave não foi encontrada. Teste o programa com diferentes chaves.
turma = {
    'Senhor':[9, 5, 7, 2, 10],
    'Flávin':[9, 8, 4, 5, 8],
    'Lucas':[0, 2, 3, 4 ,5]
    }

buscador = str(input('O que procuras? '))
if buscador in turma:
  print(buscador, turma[buscador])
else:
  print('Chave não encontrada.')

Quem desejas procurar? Senhor
Senhor [9, 5, 7, 2, 10]

In [ ]:
# 20. Dado um dicionário que contém produtos e seus respectivos preços, como {'pão': 2.50, 'leite': 3.00, 'café': 4.50},
# permita que o usuário altere o preço de um dos produtos e exiba o dicionário atualizado com o novo valor.
padoca = {'pão': 2.50, 'leite': 3.00, 'café': 4.50}

print('='*20)
print('TABELA DE PREÇOS')
print('='*20)
for i, p in padoca.items():
  print(f'{i} --- R${p}')
print('='*20)

alteracao = str(input('Qual produto desejas alterar? '))

if alteracao in padoca:
  np = float(input('Qual o novo valor do produto? '))

  padoca[alteracao] = np

else:
  print('Produto não encontrado.')

print('='*20)
print('TABELA ATUALIZADA')
print('='*20)
for i, p in padoca.items():
  print(f'{i} --- R${p}')
print('='*20)

====================
TABELA DE PREÇOS
====================
pão --- R$2.5
leite --- R$3.0
café --- R$4.5
====================
Qual produto desejas alterar? refrigerante
Produto não encontrado.
====================
TABELA ATUALIZADA
====================
pão --- R$2.5
leite --- R$3.0
café --- R$4.5
====================